<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    {{>headerlink}}
</head>

<body>
   {{>navbar}}
    <!-- main content -->

    <div class=" my-4 container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <!-- left side div     -->
                <div class="row">
                    <div class="col-md-6 col-12 main-header-right">
                        <figure>
                            <img src="./images/img.jpg" alt="Image" class="img-fluid" title="Chandan Choubey">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main-header-left align-item-center">
                        <p>Welcome to Weather app</p>
                        <h1>I am a <span class="text-clr">Mern Stack Developer</span> </h1>
                        <a href="https://devp-chandan.github.io/res/" target="_blank"><button>About me</button></a>
                    </div>
                    <!-- right side div  -->


                </div>
            </div>
        </div>
    </div>


    <!-- footer code -->

    {{>footer}}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
</body>

</html>